<div class="mainDiv">
  <div class="mainContainer">
    <div class="todoDiv">
      <h2>T O D O</h2>
      <input [(ngModel)]="inputValue" (keydown.enter)="postItem()" type="text">
    </div>
    <div class="imageDiv">
      <img src="../assets/bg-desktop-dark.jpg">
    </div>

    <div class="applistDiv">
    <!--<app-list #applist [todoReceiver]="todoEntry"></app-list>-->
    <router-outlet></router-outlet>
    </div>
     
    <div class="linksDiv">
      <p>{{todoEntry.length}} {{todoEntry.length > 1? 'items' : 'item'}} left</p>
      
      <div class="linksinnerdiv">
      <p><a routerLink="/all">All</a></p>
      <p><a routerLink="/active">Active</a></p>
      <p><a routerLink="/completed">Completed</a></p>
      </div>

      <p (click)="clearCompleted()">Clear Completed</p>
    </div>
  </div>
</div>